/* CSS declarations go here */
body {
    margin: 0 0 0 0;
    overflow: hidden;
}

svg { 
	//border: solid;
	margin: auto;
}
path { fill: #9DB8BA; }
.cid_USB { fill: #EDB444; }
.cid_USK { fill: #EDB444; }
.cid_USH { fill: #EDB444; }
.cid_PRI { fill: #EDB444; }

div.hoverbox {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

div.clickbox {
    position: absolute;
    text-align: center;
    width: 80px;
    height: 48px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    //pointer-events: none;
}

.test-button {
    position: absolute;
    top: 25px;
    left: 25px;
}

/*db.countries.update({cid: "MEX"}, {$set: {status: "GREEN"}});*/
