/* CSS declarations go here */
body {
    margin: 0 0 0 0;
    overflow: hidden;
}

svg { 
	//border: solid;
	margin: auto;
}
path { fill: #9DB8BA; }
.cid_USB { fill: #EDB444; }
.cid_USK { fill: #EDB444; }
.cid_USH { fill: #EDB444; }
.cid_PRI { fill: #EDB444; }


/*db.countries.update({cid: "MEX"}, {$set: {status: "GREEN"}});*/
